.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;   
}

.buy {
    grid-area: buy;
}

.rent {
    grid-area: rent;
}

.sell {
    grid-area: sell;
}

.loans {
    grid-area: loans;
}

.agent {
    grid-area: agent;
}

.logo {
    grid-area: logo;
}

.rentals {
    grid-area: rentals;
}

.advertise {
    grid-area: advertise;
}

.sign-in {
    grid-area: sign-in;
}

.help {
    grid-area: help;
}

.header {
    color: black;
    background-color: white;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "buy rent sell  loans agent . logo . rentals advertise sign-in help";
}

.search {
    display: grid;
    width: 100%;
    height: auto;
}

.questions {
    display: grid;
    width: 100%;
    height: auto;
}